<div class="bg-start pt-4">
<div class="container text-center text-light pt-5">
  <div class="pt-5">
    <img src="../../assets/avataaars.svg" alt="avatar" class="w-25">
  </div>
  <div class="pt-2">
    <h2 class="text-center fw-bolder fs-1 pt-3">START FRAMEWORK</h2>
    <div class="d-flex align-items-center justify-content-center mb-3 mt-3">
      <div class="line me-3 "></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3"></div>
  </div>
    <p class="pt-3 pb-5">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
</div>
