<nav class="navbar navbar-expand-sm position-fixed z-3 end-0 start-0 top-0" >
  <div class="container ">
    <a class="navbar-brand fs-2 text-light fw-bolder" routerLink="start-framework">START FRAMEWORK</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 p-4 ">
        <li class="nav-item pe-3">
          <a class="nav-link rounded-3  text-light fw-bold " routerLink="about" routerLinkActive="bg-newcol" >ABOUT</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link rounded-3  text-light fw-bold " routerLink="portfolio" routerLinkActive="bg-newcol">PORTFOLIO</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link rounded-3 text-light fw-bold" routerLink="contact" routerLinkActive="bg-newcol">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
