<div class=" container pt-5">
  <div class="row g-5 pt-5 pb-4">
    <div class="col-md-12 pt-5">
      <h2 class="text-center fw-bolder fs-1 ">PORTFOLIO COMPONENT</h2>
      <div class="d-flex align-items-center justify-content-center mb-3 mt-3">
        <div class="line me-3 "></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3 "></div>
    </div>
    </div>
    <div class="col-md-4 position-relative ">
      <img src="../../assets/poert1.png" alt="pho1" class="w-100 rounded-3 ">
      <div class="iconbg position-absolute  d-flex justify-content-center align-items-center  rounded-3 ">
        <i class="fa-solid fa-plus fa-6x  text-light "></i>
      </div>
    </div>
    <div class="col-md-4 position-relative ">
      <img src="../../assets/port2.png" alt="pho1" class="w-100 rounded-3 ">
      <div class="iconbg position-absolute  d-flex justify-content-center align-items-center  rounded-3 ">
        <i class="fa-solid fa-plus fa-6x  text-light "></i>
      </div>
    </div>
    <div class="col-md-4 position-relative ">
      <img src="../../assets/port3.png" alt="pho1" class="w-100 rounded-3 ">
      <div class="iconbg position-absolute  d-flex justify-content-center align-items-center  rounded-3 ">
        <i class="fa-solid fa-plus fa-6x  text-light "></i>
      </div>
    </div>
    <div class="col-md-4 position-relative ">
      <img src="../../assets/poert1.png" alt="pho1" class="w-100 rounded-3 ">
      <div class="iconbg position-absolute  d-flex justify-content-center align-items-center  rounded-3 ">
        <i class="fa-solid fa-plus fa-6x  text-light "></i>
      </div>
    </div>
    <div class="col-md-4 position-relative ">
      <img src="../../assets/port2.png" alt="pho1" class="w-100 rounded-3 ">
      <div class="iconbg position-absolute  d-flex justify-content-center align-items-center  rounded-3 ">
        <i class="fa-solid fa-plus fa-6x  text-light "></i>
      </div>
    </div>
    <div class="col-md-4 position-relative ">
      <img src="../../assets/port3.png" alt="pho1" class="w-100 rounded-3 ">
      <div class="iconbg position-absolute  d-flex justify-content-center align-items-center  rounded-3 ">
        <i class="fa-solid fa-plus fa-6x  text-light "></i>
      </div>
    </div>
  </div>
    </div>
